[merge]
tool = unityyamlmerge

[mergetool "unityyamlmerge"]
trustExitCode = false
# Change this path locally according to https://docs.unity3d.com/Manual/SmartMerge.html
cmd = 'C:\Program Files\Unity\Editor\Data\Tools\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"